[submodule "vendor/waterlinked_dvl_ros"]
	path = vendor/waterlinked_dvl_ros
	url = https://github.com/GSO-soslab/waterlinked_dvl_ros
[submodule "vendor/ina260ros"]
	path = vendor/ina260ros
	url = https://github.com/GSO-soslab/ina260ros
[submodule "vendor/xsens_mti_ros_driver"]
	path = vendor/xsens_mti_ros_driver
	url = https://github.com/GSO-soslab/xsens_mti_ros_driver
[submodule "vendor/--force"]
	path = vendor/--force
	url = https://github.com/GSO-soslab/waterlinked_dvl_ros
