<?xml version="1.0"?>
<launch>

    <include file="$(find micro_uuv_config)/launch/bathy_swath_sonar.launch"/>

    <include file="$(find micro_uuv_config)/launch/gps.launch"/>

    <include file="$(find micro_uuv_config)/launch/waterlinked_dvl.launch"/>

    <include file="$(find micro_uuv_config)/launch/multimaster.launch">
        <arg name="interface_address" default="payloadpi.ros"/>
        <arg name="host_type" default="mapping_payload"/>
    </include>

</launch>