<?xml version="1.0"?>
<launch>

    <include file="$(find micro_uuv_config)/launch/xsens_mti.launch"/>

    <include file="$(find micro_uuv_config)/launch/interface.launch"/>

    <include file="$(find micro_uuv_config)/launch/multimaster.launch">
        <arg name="interface_address" default="tubepi.ros"/>
        <arg name="host_type" default="tube"/>
    </include>

    <include file="$(find micro_uuv_config)/launch/ina260.launch"/>

    <include file="$(find micro_uuv_description)/launch/description.launch"/>

</launch>