<?xml version="1.0"?>
<launch>

    <include file="$(find micro_uuv_config)/launch/xsens_mti.launch"/>

    <include file="$(find micro_uuv_interface)/launch/interface.launch"/>

    <include file="$(find micro_uuv_config)/launch/multimaster.launch">
        <arg name="interface_address" default="192.168.1.1"/>
    </include>

    <include file="$(find micro_uuv_config)/launch/ina260.launch"/>

</launch>