<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find micro_uuv_description)/urdf/base.urdf.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publisher_frequency" type="double" value="30.0"/>
    </node>

</launch>